.ctn-alert{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    background: #090909;
    border: 1px solid #e4c7091e;
    box-shadow: 0 0 10px 0 #e4c70907;
    border-radius: 10px;
    z-index: 100;
    animation: out 3s ease-out both;
}

.alert{
    display: flex;
    gap: 10px;
    padding: 15px;
}

.alert i{
    color: #e4c709;
}

.alert h1{
    font-size: 0.9rem;
    font-weight: 500;
}

@keyframes out{
    0%, 90%{
        transform: translateY(0px);
        opacity: 1;
    }

    100%{
        transform: translateY(-60px);
        opacity: 0;
    }
}