* {
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
}

:root {
    --primary-color: #1e1e1e;
    --secundary-color: #f5f5f5;
    --color-line: #282828;
    --transition: all 0.4s ease;
}

.hero-aside {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 290px;
    height: 100vh;
    padding: 25px 20px;
    background: #00000042;
    box-shadow: 1px 0px 0px 0px var(--color-line), 7px 0px 10px #0000001e;
    transition: var(--transition);
}

aside::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

aside::-webkit-scrollbar-track {
    display: flex;
    width: 3px;
    background-color: #1c1c1c;
}

aside::-webkit-scrollbar-thumb {
    background: #171717;
}

.hero-aside button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 15px;
    border: 1px solid var(--color-line);
    border-radius: 5px;
    color: #dedede;
    background: transparent;
    cursor: pointer;
    transition: var(--transition);
}

.hero-aside button:hover {
    background: #1e1e1e;
    box-shadow: 0px 0px 10px 2px #1e1e1e8e;
}

.search-chat {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-chat label {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    color: #dedede;
    gap: 5px;
}

.search-chat input {
    display: flex;
    width: 100%;
    height: 35px;
    padding: 10px 15px;
    font-size: 0.8rem;
    color: #f5f5f5bb;
    border: 1px solid var(--color-line);
    border-radius: 50px;
    outline: none;
    background: transparent;
}

.search-chat input::placeholder {
    color: #f5f5f539;
}

.new-chat {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-chat h2 {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    color: #dedede;
    gap: 5px;
}

.new-chat button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    margin: 0;
    border: 1px solid var(--color-line);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #1e1e1ebe;
    background: #1e1e1e;
    color: #f5f5f5d2;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    gap: 7px;
}

.new-chat button:hover {
    color: #f5f5f5;
    background: #1a1a1a;
    transform: scale(1.01);
}

.ctn-chats {
    padding: 0px 0px 140px 0px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ctn-chats h1 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #dedede;
}

.chats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chats p{
    margin-top: 30px;
    text-align: center;
    color: #a5a5a580;
}

.card-chat {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    border: 1px solid var(--color-line);
    border-radius: 10px;
    background: #1a1a1a;
    cursor: pointer;
    transition: var(--transition);
}

.card-chat.active {
    background-color: #272727aa;
}

.title-card {
    display: flex;
    align-items: center;
    gap: 5px;
}

.title-card h1 {
    display: flex;
    color: #dedede;
    font-size: 0.9rem;
}

.title-card i {
    display: flex;
    color: #dedede;
    font-size: 0.95rem;
    font-weight: 500;
}

.card-chat:hover {
    color: #f5f5f5;
    background: #1e1e1e;
    transform: scale(1.01);
}

.card-chat button {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 3px;
    background: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--secundary-color);
}

.card-chat button:hover {
    background: #353535;
}

.ctn-profile {
    margin-bottom: 25px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 245px;
    height: 70px;
    max-height: 100px;
    padding: 15px;
    border: 1px solid var(--color-line);
    border-radius: 10px;
    background: #171717;
    cursor: pointer;
    transition: var(--transition);
}

.ctn-profile:hover {
    box-shadow: 0px 0px 10px 1px #ffffff08;
    transform: scale(1.01);
}

.profile {
    display: flex;
    gap: 10px;
}

.profile img {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.info-profile h1 {
    display: flex;
    font-size: 0.9rem;
    font-weight: 600;
}

.info-profile p {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    color: #bebebe;
}

.ctn-profile i{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    background: transparent;
    border-radius: 4px;
    font-size: 1rem;
    color: #ffffffaf;
    cursor: pointer;
}

.ctn-profile i:hover {
    font-weight: 600;
    background: #353535;
}