.aside-main {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    width: 290px;
    height: 100vh;
    border-right: 1px solid #1e1e1e;
    overflow: hidden;
}

.aside-main.collapsed {
    min-width: 50px;
    width: 50px;
    align-items: center;
}

.aside-main.collapsed .aside-header img {
    display: none;
}

.aside-main.collapsed .aside-content .aside-btn p,
.aside-main.collapsed .aside-content .aside-btn span,
.aside-main.collapsed .aside-content .aside-btn h3,
.aside-main.collapsed .aside-content h2,
.aside-main.collapsed .aside-grid-chats,
.aside-main.collapsed .aside-profile-content {
    display: none;
}


.aside-header {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    width: 100%;
    justify-content: space-between;
}

.aside-header img {
    width: 72px;
}

.aside-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background: transparent;
    color: var(--gray-color-3);
    cursor: pointer;
    transition: var(--transition);
}

.aside-header button:hover {
    background: var(--hover-2);
    color: var(--light-color);
}


.aside-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    margin-top: 20px;
}

.aside-first-btn {
    padding: 0 10px;
}

.aside-content .aside-btn {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 7px 5px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    background: transparent;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--gray-color-2);
    white-space: nowrap;
    transition: var(--transition);
    cursor: pointer;
}

.aside-content .aside-btn:hover {
    background: var(--hover-2);
    color: var(--gray-color-1);
}

.aside-content .aside-btn:hover span {
    opacity: 1;
}

.aside-content .aside-btn .icon {
    color: var(--gray-color-1) !important;
    transition: var(--transition);
}

.aside-content .aside-btn:hover .icon {
    transform: scale(1.1);
}

.aside-content .aside-btn span {
    opacity: 0;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--gray-color-4);
}

.aside-content .aside-btn h3 {
    margin-left: auto;
    display: flex;
    padding: 2px 10px;
    border: 1px solid #2d2d2d;
    border-radius: 20px;
    font-size: 0.65rem;
    font-weight: 300;
    color: var(--gray-color-3);
}

.aside-content .aside-btn.bloq {
    color: #4b4b4b;
}

.aside-content .aside-btn.bloq .icon {
    color: #4b4b4b !important;
}

.aside-content-scrool {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    border-top: 1px solid transparent;
    transition: var(--transition);
}

.aside-content-scrolled {
    border-top: 1px solid #1e1e1e;
}

.aside-content-scrool::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.aside-content-scrool::-webkit-scrollbar-thumb {
    background: var(--hover-2);
    border-radius: 20px;
}

.aside-content-scrool h2 {
    margin-left: 6px;
    margin-top: 30px;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color-3);
}

.aside-grid-chats {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.aside-card-chat {
    padding: 5px 7px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.aside-card-chat:hover {
    background: var(--hover-2);
    color: var(--gray-color-1);
    cursor: pointer;
}

.aside-card-chat h1 {
    max-width: 205px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color-2);
    overflow: hidden;
}

.aside-card-chat input {
    font-family: "Poppins", sans-serif;
    width: 205px;
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color-2);
}

.aside-card-chat:hover div {
    opacity: 1;
}

.aside-card-chat div {
    opacity: 0;
    display: flex;
    margin-left: auto;
    gap: 2px;
    transition: var(--transition);
}

.aside-card-chat div button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 20px;
    background: transparent;
    color: var(--gray-color-3);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.aside-card-chat div button:hover {
    background: #272727;
    color: var(--gray-color-1);
}




.aside-main.collapsed .aside-profile {
    border: none;
    background: transparent;
}

.aside-profile {
    background: #000;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 15px 8.5px;
    gap: 10px;
    border-top: 1px solid #1e1e1e;
    cursor: pointer;
    box-shadow: 0px -0px 0px 0px red;
}

.aside-profile:hover {
    background: #0a0a0a;
}

.aside-profile:hover .aside-profile-content h1 {
    color: var(--light-color);
}

.aside-profile-open {
    background: #0a0a0a;
}

.aside-img-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border: 1px solid var(--gray-color-4);
    border-radius: 100%;
}

.aside-img-profile img {
    display: flex;
    width: 100%;
}

.aside-profile-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.aside-profile-content h1 {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color-1);
}

.aside-profile-content p {
    margin-top: -4px;
    font-size: 0.65rem;
    font-weight: 300;
    color: var(--gray-color-2);
}

.aside-btn-profile {
    margin-left: auto;
}

.chat-aside-loading {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: var(--gray-color-3);
}

.chat-nochats {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray-color-3);
    gap: 5px;
    font-size: 0.8rem;
    font-weight: 300;
}


/* modal profile */
.modal-profile {
    position: absolute;
    bottom: 72px;
    width: 270px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #1e1e1e;
    border-radius: 7px;
    background: #0a0a0a;
    box-shadow: 0px 0px 10px #101010;
}

.modal-profile p {
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color-3);
}

.modal-profile hr {
    margin: 5px auto;
    display: flex;
    width: 95%;
    border: none;
    border-bottom: 1px solid #191919;
}

.modal-profile button {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    color: var(--gray-color-1);
    background: transparent;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    font-size: 0.9rem;
    cursor: pointer;
}

.modal-profile button:hover {
    background: var(--hover-2);
}

.aside-main.collapsed .modal-profile {
    left: 0px;
    bottom: 60px;
}