* {
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
}

.hero-aside {
    display: flex;
}

aside {
    margin-left: -262px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 260px;
    height: 100vh;
    padding: 10px;
    background: #00000042;
    box-shadow: 1px 0px 0px 0px var(--color-line), 7px 0px 10px #0000001e;
}

aside::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

aside::-webkit-scrollbar-track {
    display: flex;
}

aside::-webkit-scrollbar-thumb {
    background: #171717;
}

.header-aside {
    display: flex;
    align-items: center;
    gap: 7px;
    z-index: 2;
}

.aside-logo {
    width: fit-content;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}

.aside-logo:hover {
    background: #252525;
}

.hero-aside .btn-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    color: #dedede;
    background: transparent;
    cursor: pointer;
    transition: var(--transition);
    font-size: 1rem;
    z-index: 1;
}

.hero-aside .btn-aside:hover {
    background: #252525;
    box-shadow: 0px 0px 10px 0px #1e1e1e21;
}

.hero-aside .close {
    opacity: 1;
    pointer-events: auto;
}

.hero-aside .open {
    opacity: 0;
    pointer-events: none;
}

.new-chat {
    margin-top: 25px;
}

.new-chat button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 7px;
    background: transparent;
    cursor: pointer;
    transition: all 0.1s ease;
}

.new-chat button p {
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    color: #eaeaea;
    gap: 7px;
}

.new-chat button:hover {
    color: #fff;
    background: #252525;
}

.new-chat button span {
    font-size: 0.7rem;
    color: #ffffff5a;
    opacity: 0;
}

.new-chat button:hover span {
    opacity: 1;
}

.search-chat {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-chat label {
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    color: #eaeaea;
    gap: 7px;
}

.search-chat input {
    display: flex;
    width: 100%;
    height: 35px;
    padding: 10px;
    font-size: 0.8rem;
    color: #f5f5f5bb;
    border: 1px solid #28282840;
    border-radius: 7px;
    outline: none;
    background: #00000025;
}

.search-chat input::placeholder {
    color: #f5f5f533;
}

.ctn-chats {
    padding: 0px 0px 140px 0px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ctn-chats h1 {
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffffff56;
}

.chats {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.chats p {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff30;
    gap: 10px;
}

.chats p i {
    font-size: 1.2rem;
}

.card-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 10px;
    border-radius: 7px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0.8;
}

.card-chat.active {
    opacity: 1;
    background: #2525256c;
}

.card-chat:hover {
    background: #252525d8;
    opacity: 1;
}

.title-card {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title-card h1 {
    margin: 0;
    display: flex;
    color: #f5f5f5;
    font-size: 0.8rem;
    font-weight: 500;
}

.title-card i:first-child {
    display: flex;
    color: #f5f5f5;
    font-size: 0.95rem;
    font-weight: 500;
}

.options-card {
    display: flex;
}

.options-card button {
    margin: 0;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 5px 3px;
    background: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--secundary-color);
    transition: all 0.1s ease;
    opacity: 0;
}

.options-card button:hover {
    background: #353535;
}

.inline-edit {
    display: flex;
    width: 100%;
    align-items: center;
}

.inline-edit:last-child {
    justify-content: end;
}

.inline-edit input {
    border: none;
    background: transparent;
    outline: none;
    color: #b3b3b3;
    font-size: 0.8rem;
    font-weight: 500;
}

.inline-edit button {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border: none;
    width: 0;
    height: fit-content;
    padding: 4.6px 12px;
    border-radius: 3px;
    font-size: 1.9rem;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: all 0.1s ease;
}

.inline-edit button:hover {
    background: #353535;
}

.card-chat:hover button {
    opacity: 1;
}

.ctn-profile {
    margin-bottom: 15px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 235px;
    height: fit-content;
    max-height: 100px;
    padding: 13px;
    border: 1px solid var(--color-line);
    border-radius: 12px;
    background: #101010;
    cursor: pointer;
    transition: var(--transition);
    box-shadow: 0px 0px 15px 2px #00000050;
}

.ctn-profile:hover {
    background: #141414;
}

.profile {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.info-profile {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.info-profile h1 {
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    color: #f5f5f5;
}

.info-profile p {
    display: flex;
    font-size: 0.7rem;
    font-weight: 400;
    color: #bebebe;
}

.ctn-profile i:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    background: transparent;
    border-radius: 7px;
    font-size: 1rem;
    color: #ffffffaf;
    cursor: pointer;
}

.ctn-profile i:hover {
    font-weight: 600;
    background: #202020;
}

@media (width < 720px) {
    .hero-aside {
        display: flex;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    aside {
        width: 305px;
        height: 100vh;
        overflow-x: hidden;
        position: relative;
        z-index: 1;
        background: #101010;
    }

    .ctn-profile {
        width: 250px;
    }

    .hero-aside .btn-aside {
        border: none;
        border-radius: 0px;
        transition: none;
        font-size: 1.1rem;
        background: transparent;
        color: #969696;
    }

    .hero-aside .btn-aside:hover {
        background: transparent;
        box-shadow: none;
    }

    .new-chat button {
        background: transparent !important;
    }

    .new-chat button:hover {
        background: transparent !important;
    }

    .new-chat button:hover span {
        display: none;
    }

    .new-chat button:active {
        background: #171717 !important;
    }

    .card-chat.active {
        background: #181818;
    }

    .card-chat:hover {
        background: transparent !important;
    }

    .options-card button {
        z-index: 0 !important;
        background: transparent !important;
    }

    .options-card:hover {
        background: transparent !important;
    }

    .options-card button:hover {
        background: transparent !important;
    }

    .options-card:active {
        background: #181818 !important;
    }
}