* {
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
}

:root {
    --primary-color: #1e1e1e;
    --secundary-color: #f5f5f5;
    --color-line: #282828;
    --transition: all 0.4s ease;
}

.hero-chat {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -55px;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.presentation h1 {
    display: flex;
    font-size: 2rem;
    animation: show-in 5s forwards;
}

.presentation h2 {
    display: flex;
    color: #b1b1b1;
    font-size: 1.4rem;
    font-weight: 500;
    animation: show-in 15s forwards;
}

.ctn-input {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.ctn-input.bottom {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
}

.input {
    display: flex;
    align-items: center;
    width: 800px;
    max-width: 800px;
    height: fit-content;
    border: 1px solid var(--color-line);
    border-radius: 50px;
    padding: 10px 10px 10px 20px;
    background: #3232324b;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px 2px #1e1e1e;
    gap: 15px;
}

.input input {
    display: flex;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--secundary-color);
}

.input button:first-child {
    display: flex;
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    border-radius: 10px;
    font-size: 0.9rem;
}

.input button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 50px;
    color: #959595;
    background: transparent;
    border: 1px solid var(--color-line);
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
}

.input button:hover {
    background: #9595952d;
    box-shadow: 0px 0px 10px 1px var(--color-line);
}

.links-file {
    margin-top: 45px;
    display: flex;
    gap: 35px;
}

.links-file i {
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 15px 20px;
    background: #1e1e1e;
    border: 1px solid var(--color-line);
    border-radius: 50px;
    cursor: pointer;
    transition: var(--transition);
    color: #dedede;
}

.links-file i:hover {
    background: #282828;
    box-shadow: 0px 0px 10px 2px #1e1e1e;
}

.chat-box {
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    width: 860px;  
    max-width: 90%;
    padding: 30px 30px 150px 30px;  
    gap: 10px;
}

.chat-box::-webkit-scrollbar{
    display: flex;
    background: none;
}

.chat-box p{
    display: flex;
    max-width: 55%;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.chat-box span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 20px;
    background: #202020;
    box-shadow: 0px 0px 20px 2px #111;
    color: #dedede;
    font-size: 0.9rem;
    line-height: 1.3;
}

.user {
    color: #707070;
    align-self: flex-end;
}

.assistant {
    color: #707070;
    align-self: flex-start;
}