* {
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
}

:root {
    --primary-color: #1e1e1e;
    --secundary-color: #f5f5f5;
    --color-line: #282828;
    --transition: all 0.4s ease;
}

.hero-chat {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -55px;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.presentation h1 {
    display: flex;
    font-size: 2rem;
    animation: show-in 5s forwards;
}

.presentation h2 {
    display: flex;
    color: #b1b1b1;
    font-size: 1.4rem;
    font-weight: 500;
    animation: show-in 15s forwards;
}

.ctn-input {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.ctn-input.bottom {
    position: fixed;
    bottom: 30px;
}

.input {
    display: flex;
    align-items: center;
    width: 800px;
    max-width: 800px;
    height: fit-content;
    border: 1px solid var(--color-line);
    border-radius: 50px;
    padding: 7.5px 7.5px 7.5px 15px;
    background: #3232324b;
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 15px 0px #00000045;
    gap: 15px;
}

.input input {
    display: flex;
    width: 95%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--secundary-color);
}

.input button:first-child {
    display: flex;
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    border-radius: 10px;
    font-size: 0.9rem;
}

.input button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    color: #c7c7c7;
    background: #222222;
    border: 1px solid var(--color-line);
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
}

.input button:hover {
    background: #9595952d;
    box-shadow: 0px 0px 10px 1px #2828284f;
}

.links-file {
    margin-top: 45px;
    display: flex;
    gap: 35px;
}

.links-file i {
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 13px 18px;
    background: #1e1e1eaa;
    border: 1px solid var(--color-line);
    border-radius: 50px;
    transition: var(--transition);
    color: #dedede;
    box-shadow: 0px 2px 10px 0px #00000033;
}

.links-file i:hover {
    background: #282828;
    box-shadow: 0px 0px 10px 2px #1e1e1e;
}

.ctn-chat-box {
    margin-top: 50px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px 26px 80px 30px;
    overflow-y: auto;
}

.ctn-chat-box::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.ctn-chat-box::-webkit-scrollbar-thumb {
    background: #1e1e1e;
}

.chat-box {
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 800px;
    gap: 20px;
}

.chat-box::-webkit-scrollbar {
    display: flex;
    width: 3px;
}

.chat-box::-webkit-scrollbar-thumb {
    background: #29292955;
    border-radius: 10px;
    cursor: pointer;
}

.chat-box::-webkit-scrollbar-track {
    background: #00000000;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    animation: fadeInUp 0.3s ease;
}

.message .user:first-child {
    color: #707070;
}

.message .assistant:first-child {
    color: #707070;
}

.message p strong {
    color: #f5f5f5;
}

.markdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 15px 0;
}

.markdown-wrapper .katex {
    margin: 20px auto;
    display: inline-block !important;
    justify-content: center;
    vertical-align: middle;
    max-width: 100%;
    line-height: 1.2;
}

.markdown-wrapper .katex-display {
    display: block !important;
    margin: 15px 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    line-height: 1.2;
}

.markdown-wrapper .katex-display::-webkit-scrollbar {
    height: 5px;
}

.markdown-wrapper .katex-display::-webkit-scrollbar-thumb {
    background: #131313;
    border-radius: 2px;
}

.markdown-wrapper .katex .katex-mathml {
    display: none;
}

.markdown-wrapper .katex .katex-html {
    display: inline-block !important;
    line-height: 1.2;
}

.chat-box div.user {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    align-self: flex-end;
    position: relative;
    padding: 15px 20px;
    border-radius: 15px 15px 0px 15px;
    background: #232323;
    box-shadow: 0px 0px 15px 0px #111;
    color: #dedede;
    font-size: 0.9rem;
    letter-spacing: 1.2px;
}

.chat-box div.assistant {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    color: #dedede;
    letter-spacing: 1.2px;
}

.message.assistant.thinking .markdown-wrapper {
    display: flex;
    font-style: italic;
    color: #888;
    position: relative;
    gap: 5px;
}

.message.assistant.thinking .markdown-wrapper::after {
    content: "";
    display: inline-block;
    width: 1ch;
    animation: dots 1.5s steps(3, end) infinite;
}

.cursor {
    display: inline-block;
    width: 1px;
    background-color: #e5e7eb;
    animation: blink 1s infinite;
    margin-left: 2px;
}

.send-files {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    bottom: 12px;
    padding: 5px;
    gap: 2px;
    background: #252525;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px 2px #0000002b;
    border: 1px solid var(--color-line);
    border-radius: 15px;
    z-index: 100;
}

.send-files input {
    display: none;
}

.send-files button:first-child {
    width: 100%;
    height: fit-content;
    padding: 9px 10px;
    background: transparent;
    border-radius: 10px;
    gap: 5px;
    font-size: 0.9rem;
}

.send-files button {
    display: flex;
    width: 220px;
    height: fit-content;
    justify-content: start;
    background: transparent;
    border: none;
    padding: 9px 10px;
    border-radius: 10px;
    color: #f5f5f5da;
    cursor: pointer;
    transition: none;
    gap: 5px;
    font-size: 0.9rem;
}

.send-files button:hover {
    box-shadow: none;
    background: #383838;
    color: #f5f5f5;
}

.ctn-file-preview {
    margin-left: -15px;
    margin-top: -270px;
    position: absolute;
    width: 800px;
    height: 150px;
    border: 1px solid var(--color-line);
    border-radius: 10px;
    background: #141414;
    box-shadow: inset 0px 0px 10px 0px #080808;
}

.file-preview {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 187px;
    height: 60px;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #1c1c1c;
    font-size: 0.8rem;
    color: #eee;
    gap: 6px;
    box-shadow: 0px 0px 5px 0px #080808;
}

.file-item span {
    display: flex;
    overflow: hidden;
}

.file-item img {
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-line);
    border-radius: 3px;
    object-fit: cover;
}

.file-item button {
    display: flex;
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0;
}

.file-item button:hover {
    box-shadow: none;
    background: transparent;
}

.file-item button:active{
    box-shadow: none;
    background: transparent;
}

.msg-files {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 8px;
}


.msg-file a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2e2e2e;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    padding: 7px 10px;
    gap: 10px;
}

.msg-file img {
    width: 160px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #3f3f3f;
    cursor: pointer;
}


@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes dots {
    0% {
        content: " ";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}