.conf-profile {
    position: absolute;
    bottom: 15px;
    left: 250px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    gap: 2px;
    background: #252525;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid #303030;
    box-shadow: 0px 0px 10px 2px #0000002b;
    z-index: 50;
}

.conf-profile hr {
    border: 1px solid #303030;
    margin: 5px 0;
}

.conf-profile .active {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #373737;
    border-radius: 50px;
    font-size: 0.9rem;
    color: #f5f5f5;
    background: #1f1f1f;
}

.conf-profile .active:hover {
    border-color: #505050;
    background: #2d2d2d;
}


.conf-profile button {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 9px 10px;
    border: none;
    border-radius: 5px;
    background: transparent;
    font-size: 0.9rem;
    color: #ffffffaf;
    gap: 5px;
    transition: all 0.2s ease;
}

.conf-profile button:last-child {
    color: #d30000;
}

.conf-profile button:hover:last-child {
    color: #c20000;
}

.conf-profile button:hover {
    color: #f5f5f5;
    background: #383838;
}