.ctn-docs-page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: auto;
}

.ctn-docs-page::-webkit-scrollbar{
    display: flex;
    width: 5px;
    background: #080808;
}

.ctn-docs-page::-webkit-scrollbar-thumb{
    background: #0f0f0f;
    border-radius: 50px;
}

.docs-page{
    display: flex;
    flex-direction: column;
}

.docs-page header {
    position: fixed;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #181818;
    box-shadow: none;
    background: #000000c4;
    backdrop-filter: blur(7px);
}

.docs-header-content {
    display: flex;
    align-items: center;
    gap: 350px;
    padding: 15px;
    border-bottom: 1px solid #181818;
}

.docs-header-content img {
    display: flex;
    width: 120px;
}

.docs-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    padding: 10px 12px;
    border: 1px solid #ffffff15;
    background: #090909cd;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.docs-search:hover {
    background: #090909;
}

.docs-search:hover {
    border-color: #333333;
}

.docs-search i {
    font-size: 0.9rem;
    color: #a7a7a7;
}

.docs-search i:hover {
    color: #f5f5f5;
}

.docs-search p {
    font-size: 0.9rem;
    color: #a7a7a7;
}

.sec-left-search {
    display: flex;
    align-items: center;
    gap: 8px;
}

.docs-header-content a {
    font-size: 1.1rem;
}

.docs-page header nav ul {
    margin-right: 750px;
    display: flex;
    list-style: none;
    padding: 15px;
    gap: 25px;
}

.docs-page header nav ul li a{
    text-decoration: underline;
    text-underline-offset: 17px;
    text-decoration-color: transparent;
    font-size: 0.9rem;
    font-weight: 200;
    color: #808080;
}

.docs-page header nav ul li a:hover{
    text-decoration-color: #a7a7a7;
    color: #a7a7a7;
}

.docs-page header nav ul li .active{
    color: #fff;
    text-decoration-color: #fff;
}

.docs-page header nav ul li .active:hover{
    text-decoration-color: #fff;
}

.docs-page header nav ul li a.block{
    cursor: not-allowed;
}


/* conteudo do Docs  */

.docs-content{
    display: flex;
    justify-content: center;
    padding: 150px 0 100px 0;
}

.docs-aside-left{
    margin-right: 930px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 290px;
}

.docs-aside-left nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.docs-aside-left nav ul a{
    display: flex;
    width: 80%;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 400;
    color: #707070;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.docs-aside-left nav ul a:hover{
    color: #707070;
    background: #151515;
}

.docs-aside-left nav ul .active{
    color: #797979;
    background: #131313;
}

.docs-feed{
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 100vh;
}

.docs-feed h1{
    font-size: 1.8rem;
    font-weight: 600;
}

.docs-feed h2{
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #ababab;
}

.docs-feed h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.docs-feed video{
    margin: 25px 0 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

.docs-feed img{
    display: flex;
    width: 100%;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.docs-feed p{
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 1.1rem;
    color: #ababab;
    line-height: 25px;
}

.docs-feed p span{
    font-weight: 600;
    color: #d2d2d2;
}

.docs-feed p ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    gap: 3px;
}

.docs-feed hr{
    margin: 40px 0;
    border: 1px solid #151515;
}

.line-icon{
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.line-icon hr{
    border: 1px dashed #ffffff;
    width: 100%;
}

.line-icon .icon{
    margin: 0 25px;
    font-size: 2.5rem;
    margin-top: 55px;
    margin-bottom: 55px;
}

.docs-table {
    margin-top: 15px;
    width: 100%;
    background: #0000009c;
    backdrop-filter: blur(5px);
    border: 1px solid #181818;
    border-radius: var(--border);
    overflow: hidden;
}

.docs-table table {
    width: 100%;
    border-collapse: collapse;
}

.docs-table td {
    padding: 10px 15px;
    text-align: left;
    font-size: 0.9rem;
    border-bottom: 1px solid #181818;
    color: #dedede;
}

.docs-table th {
    text-align: left;
    padding: 10px 15px;
    background: #101010;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.docs-table tr:last-child td {
    border-bottom: none;
}

.social-links{
    display: flex;
    gap: 15px;
}

.social-links a{
    font-size: 1.2rem;
    color: #969696;
    transition: all 0.2s ease;
}

.social-links a:hover{
    color: #c7c7c7;
}

.docs-feed video::-webkit-media-controls{
    opacity: 0;
    transition: all 0.2s ease;
}

.docs-feed video:hover::-webkit-media-controls{
    opacity: 1;
}

.docs-aside-right{
    margin-left: 930px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 290px;
}

.docs-footer{
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid #181818;
    gap: 380px; /* 410 */
}

.graham-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.graham-info img{
    display: flex;
    width: 30px;
}

.graham-info nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.graham-info nav ul a{
    text-decoration: none;
    color: #969696;
    font-size: 0.85rem;
    transition: all 0.2s ease;
}

.graham-info nav ul a:hover{
    color: #fff;
}

.system-stats{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    min-width: 280px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.system-stats div{
    display: flex;
    width: 9px;
    height: 9px;
    background: #006efe;
    border-radius: 50%;
}

.system-stats h1{
    font-size: 0.85rem;
    color: #006efe;
}