.docs-page {
    width: 100vw;
    height: 100vh;
    background: #000;
}

.docs-page header {
    position: fixed;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #181818;
    box-shadow: none;
}

.docs-header-content {
    display: flex;
    align-items: center;
    gap: 350px;
    padding: 15px;
    border-bottom: 1px solid #181818;
}

.docs-header-content img {
    display: flex;
    width: 120px;
}

.docs-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    padding: 10px 12px;
    border: 1px solid #202020;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.docs-search:hover {
    background: #080808;
}

.docs-search:hover {
    border-color: #333333;
}

.docs-search i {
    font-size: 0.9rem;
    color: #a7a7a7;
}

.docs-search i:hover {
    color: #f5f5f5;
}

.docs-search p {
    font-size: 0.9rem;
    color: #a7a7a7;
}

.sec-left-search {
    display: flex;
    align-items: center;
    gap: 8px;
}

.docs-header-content a {
    font-size: 1.1rem;
}

.docs-page header nav ul {
    margin-right: 750px;
    display: flex;
    list-style: none;
    padding: 15px;
    gap: 25px;
}

.docs-page header nav ul li a{
    text-decoration: underline;
    text-underline-offset: 17px;
    text-decoration-color: transparent;
    font-size: 0.9rem;
    font-weight: 200;
    color: #808080;
}

.docs-page header nav ul li a:hover{
    text-decoration-color: #a7a7a7;
    color: #a7a7a7;
}

.docs-page header nav ul li .active{
    color: #fff;
    text-decoration-color: #fff;
}

.docs-page header nav ul li .active:hover{
    text-decoration-color: #fff;
}


/* conteudo do Docs  */

.docs-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0 0 0;
}

.docs-aside-left{
    margin-right: 930px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 290px;
}

.docs-aside-left nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.docs-aside-left nav ul a{
    padding: 7px 14px;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 400;
    color: #707070;
    border-radius: 9px;
    transition: all 0.2s ease;
}

.docs-aside-left nav ul a:hover{
    color: #707070;
    background: #151515;
}

.docs-aside-left nav ul .active{
    color: #797979;
    background: #151515;
}

.docs-feed{
    display: flex;
    flex-direction: column;
    width: 600px;
    background: #2e2e2e;
}

.docs-aside-right{
    margin-left: 930px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 290px;
    background: #181818;
}