.error-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.error-main img {
    display: flex;
    width: 100px;
}

.error-main h1 {
    font-family: "Libre Baskerville", serif;
    margin-top: 50px;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--gray-color-1);
}

.error-main p {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-color-2);
}

.error-main a {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    font-size: 0.85rem;
    font-weight: 500;
    background: var(--light-color);
    color: var(--black);
    border-radius: 8px;
    transition: var(--transition);
}

.error-main a:hover {
    transform: scale(1.02);
}