header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 10px;
    box-shadow: 0px 1px 0px 0px var(--color-line);
    z-index: 2;
}

header h1{
    font-size: 0.7rem;
    font-weight: 500;
    color: #f5f5f559;
}

header img {
    display: none;
    width: 20px;
}

header a{
    text-decoration: none;
    display: flex;
    height: 100%;
    font-size: 0.9rem;
    color: #dedede;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

header a:hover{
    color: #bebebe;
}