.home-main {
    display: flex;
    overflow: hidden;
}

.home-content {
    display: flex;
    width: 100%;
    height: 100dvh;
}

/* new */
.new-main {
    display: flex;
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-welcome {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.new-welcome img {
    display: flex;
    width: 40px;
}

.new-welcome h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 2.3rem;
    font-weight: 200;
    letter-spacing: -1px;
    color: #c3c3c3;
}

.new-toolbar {
    margin-top: 15px;
}


/* bar chat */
.bar-chat-main {
    display: flex;
    flex-direction: column;
    width: 680px;
    padding: 20px;
    gap: 10px;
    border: 1px solid #151515;
    border-radius: 22px;
    background: #0f0f0f;
    box-shadow: 0px 6px 10px 2px #060606;
}

.bar-chat-main:hover {
    border-color: #202020;
}

.bar-chat-main.active {
    width: 760px;
    padding: 15px;
}

.bar-chat-main.active .bar-chat-textarea {
    margin: 5px 5px;
}

.bar-chat-main.active .modal-upload {
    bottom: 56px;
}

.bar-chat-textarea {
    font-family: "Poppins", sans-serif;
    display: flex;
    width: 100%;
    min-height: 45px;
    max-height: 200px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--light-color);
    resize: none;
}

.bar-chat-textarea::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.bar-chat-textarea::-webkit-scrollbar-thumb {
    background: #151515;
    border-radius: 20px;
}

.bar-chat-textarea.active {
    min-height: 20px;
}

.bar-chat-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-chat-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
    color: var(--gray-color-1);
}

.bar-chat-btns button:hover {
    background: #191919;
}

.bar-chat-btns div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bar-chat-btns div p {
    cursor: default;
    font-size: 0.85rem;
    color: var(--gray-color-2);
}

.bar-chat-icon-btn.active {
    background: #191919;
}

.bar-chat-alert {
    width: 720px;
    text-align: center;
    position: absolute;
    bottom: -22px;
    font-size: 0.7rem;
    font-weight: 300;
    color: #444444;
}


/* modal upload */
.modal-upload {
    position: absolute;
    width: 295px;
    bottom: 270px;
    padding: 5px;
    border-radius: 13px;
    border: 1px solid #1f1f1f;
    background: #161616;
    box-shadow: 0 0 10px #00000057;
    z-index: 10;
}

.modal-upload hr {
    width: 95%;
    margin: 5px auto;
    border: none;
    border-bottom: 1px solid #252525;
}

.modal-upload button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    background: transparent;
    color: var(--gray-color-1);
    cursor: pointer;
}

.modal-upload button:hover {
    background: #1b1b1b;
}

.modal-upload button p {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 10px;
}

.modal-upload button span {
    color: #454545;
    font-size: 0.8rem;
}


/* bar chips */
.bar-chat-chips {
    display: flex;
    gap: 15px;
}

.bar-chat-chip {
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 115px;
    border: 1px solid #2b2b2b;
    box-shadow: 0 0 10px #00000035;
    font-size: 0.7rem;
    color: var(--gray-color-1);
    border-radius: 10px;
    transition: var(--transition);
    overflow: hidden;
}

.bar-chat-chip button {
    display: none;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    position: absolute;
    margin-left: -9px;
    margin-top: -9px;
    border: 1px solid #2b2b2b;
    border-radius: 30px;
    background: #0f0f0f;
    color: var(--gray-color-3);
    cursor: pointer;
    transition: var(--transition);
    z-index: 1;
}

.bar-chat-chip button:hover {
    color: var(--gray-color-2);
}

.bar-chat-chip-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.bar-chat-chip-type {
    margin-top: auto;
    display: flex;
    width: fit-content;
    padding: 2px 5px;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--gray-color-2);
}

.bar-chat-chip-image {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #000;
}

.bar-chat-chip-image img {
    opacity: 0.9;
    display: flex;
    height: 100%;
    width: fit-content;
}

.bar-chat-chip:hover {
    border-color: #424242;
}

.bar-chat-chip:hover button {
    display: flex;
}


/* tool bar */
.tool-bar-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-bar-main div {
    display: flex;
    gap: 10px;
}

.tool-bar-main div button {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    background: #141414;
    color: #c3c3c3;
    border: none;
    border-radius: 8px;
    gap: 6px;
    cursor: pointer;
    transition: var(--transition);
}

.tool-bar-main div button .icon {
    color: var(--gray-color-3);
}

.tool-bar-main div button:hover {
    background: #1b1b1b;
}

.tool-bar-prompt {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 170px;
    padding: 10px;
    background: #101010;
    border: 1px solid #1a1a1a;
    border-radius: 15px 5px 5px 15px;
    overflow-y: auto;
    animation: tool-modal-in 0.15s ease;
}

.tool-bar-prompt::-webkit-scrollbar {
    display: flex;
    width: 3px;
}

.tool-bar-prompt::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    border-radius: 20px;
}

@keyframes tool-modal-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tool-bar-prompt header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-left: 5px;
}

.tool-bar-prompt header div {
    display: flex;
    font-size: 0.7rem;
    color: var(--gray-color-3);
}

.tool-bar-prompt header button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: var(--gray-color-1);
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: var(--transition);
}

.tool-bar-prompt header button:hover {
    background: #1a1a1a;
}


.tool-bar-prompt section {
    display: flex;
    flex-direction: column;
}

.tool-bar-prompt section button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    font-size: 0.85rem;
    color: var(--gray-color-1);
    background: transparent;
    border: none;
    border-bottom: 1px solid #1a1a1a;
    cursor: pointer;
    transition: var(--transition);
}

.tool-bar-prompt section button .icon {
    opacity: 0;
}

.tool-bar-prompt section button:hover {
    border-radius: 5px;
    background: #1e1e1e;
}

.tool-bar-prompt section button:hover .icon {
    opacity: 1;
}

.tool-bar-prompt section button:last-child {
    border: none;
}


/* active chat */
.chat-main {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 85%;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

.chat-main::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.chat-main::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #1b1b1b;
    cursor: pointer;
}

.chat-main::-webkit-scrollbar-thumb:hover {
    background: #2b2b2b;
}

.chat-content {
    display: flex;
    margin-right: -5px;
    width: 720px;
    padding: 20px 0px 150px;
    flex-direction: column;
    gap: 35px;
}

.chat-input {
    position: fixed;
    display: flex;
    bottom: 5vh;
}


/* mensagens */
.chat-user {
    display: flex;
    justify-content: flex-end;
}

.chat-user-grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}

.chat-bubble--user {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background: #141414;
    color: #eaeaea;
    font-size: 0.9rem;
    line-height: 1.5;
    white-space: pre-wrap;
    word-break: break-word;
}

.chat-user-grid:hover .chat-user-actions {
    pointer-events: all;
    opacity: 1;
}

.chat-user-actions {
    padding: 0px 5px 5px;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
}

.chat-user-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: var(--gray-color-1);
    cursor: pointer;
}

.chat-user-actions button:hover {
    background: #161616;
    color: var(--light-color);
}

.chat-bubble-user--large {
    display: flex;
    height: 220px;
    overflow: auto;
    border-radius: 10px 2px 2px 10px;
}

.chat-bubble-user--large::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.chat-bubble-user--large::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 5px;
    cursor: pointer;
}

.chat-bubble-user--large::-webkit-scrollbar-thumb:hover {
    background: #353535;
}

.chat-ai {
    display: flex;
    justify-content: flex-start;
}

.chat-bubble--ai {
    font-family: "Libre Baskerville", serif;
    font-size: 0.95rem;
    font-weight: 300;
}

.stream-cursor {
    display: inline-block;
    width: 2px;
    height: 1rem;
    margin-left: 5px;
    background: var(--light-color);
    animation: blink 1.5s infinite;
    vertical-align: sub;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

.thinking-dots {
    display: flex;
    gap: 4px;
}

.thinking-dots span {
    width: 5px;
    height: 5px;
    background: #9f9f9f;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out;
}

.thinking-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.thinking-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0.6);
        opacity: 0.6
    }

    40% {
        transform: scale(1);
        opacity: 1
    }
}

.chat-error {
    display: flex;
    background: #110000;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid #400000;
}

.chat-error p {
    display: flex;
    align-items: center;
    font-size: 0.83rem;
    color: #d10b0b;
    gap: 7px;
}

@media (width < 780px) {

    .new-main {
        margin-top: -60px;
    }

    .new-welcome img {
        width: 35px;
    }

    .new-welcome h1 {
        font-size: 1.5rem;
    }

    .bar-chat-main {
        width: 93vw;
        overflow: hidden;
        padding: 5px 5px 15px;
    }

    .bar-chat-main.active {
        width: 95vw;
        padding: 5px 5px 15px;
    }

    .modal-upload {
        bottom: auto;
        margin-top: -125px;
        margin-left: 10px;
    }

    .bar-chat-main.active .modal-upload {
        margin-left: 10px;
    }

    .bar-chat-textarea-main {
        display: flex;
        width: 100%;
        margin: 10px 10px 0;
    }

    .bar-chat-btns {
        margin-left: 10px;
    }

    .bar-chat-alert {
        width: 100%;
        left: 0;
        bottom: -35px;
        font-size: 0.6rem;
    }

    .bar-chat-chips {
        padding: 10px 10px 0;
        position: relative;
        overflow-x: auto;
        gap: 13px;
    }

    .bar-chat-chip {
        min-width: 115px;
        min-height: 120px;
    }

    .bar-chat-chip button {
        display: flex;
    }

    .chat-content {
        width: 100vw;
        padding: 20px 20px 150px;
        overflow-x: hidden;
    }

    .tool-bar-main {
        display: flex;
        width: 95vw;
    }

    .tool-bar-main div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tool-bar-main div button:hover {
        background: #141414;
    }

    .tool-bar-prompt {
        width: 90vw;
        height: fit-content;
        border-radius: 15px;
    }
}