.library {
    margin-top: 3px;
}

.library button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 7px;
    background: transparent;
    cursor: pointer;
    transition: all 0.1s ease;
}

.library button p {
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    color: #eaeaea;
    gap: 7px;
}

.library button:hover {
    color: #fff;
    background: #252525;
}

.library button span {
    font-size: 0.7rem;
    color: #ffffff5a;
    opacity: 0;
}

.library button:hover span {
    opacity: 1;
}

.ctn-modal-library {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    z-index: 10;
}

.modal-library {
    display: flex;
    flex-direction: column;
    width: 1036px;
    height: 500px;
    background: #252525;
    border: 1px solid #323232;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000065;
}

.header-modal-library {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #323232;
}

.header-modal-library h1 {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 17px;
    cursor: default;
}

.header-modal-library button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-radius: 4px;
    padding: 5px 3px;
    font-size: 0.8rem;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
}

.header-modal-library button:hover {
    background: #353535;
}

.content-modal-library {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.grid-imgs-modal-library {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    gap: 5px;
}

.grid-imgs-modal-library::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.grid-imgs-modal-library::-webkit-scrollbar-thumb {
    background: #323232;
}

.grid-imgs-modal-library p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: #989898;
    gap: 15px;
}

.grid-imgs-modal-library p i {
    font-size: 2rem;
}

.no-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ctn-img-modal-library {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid #323232;
    overflow: hidden;
    cursor: pointer;
}

.ctn-img-modal-library img {
    display: flex;
    width: fit-content;
    height: 200px;
}

.options-img-modal-library {
    position: relative;
    display: flex;
    width: 100%;
    padding: 15px 7px 7px 7px;
    margin-top: -46px;
    background: linear-gradient(0deg, #00000065, #00000000);
    backdrop-filter: blur(1px);
    justify-content: space-between;
    transition: all 0.3s ease;
    opacity: 0;
}

.ctn-img-modal-library:hover .options-img-modal-library {
    opacity: 1;
}

.options-img-modal-library button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 4px;
    background: transparent;
    border: none;
    border-radius: 4px;
    color: #f9f9f9;
    cursor: pointer;
    transition: all 0.2s ease;
}

.options-img-modal-library button:hover {
    background: #0000002f;
    backdrop-filter: blur(3px);
}

.ctn-view-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

.ctn-view-img img {
    display: flex;
    width: fit-content;
    height: 430px;
}

.options-view-img {
    position: absolute;
    margin-bottom: 500px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.options-view-img button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 4px 3px;
    border: none;
    border-radius: 3px;
    background: transparent;
    color: #e9e9e9;
    cursor: pointer;
}

.options-view-img button:hover {
    background: #393939;
}

@media (width < 720px) {

    .ctn-library {
        display: none;
    }
}