.ctn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #0000001d;
    backdrop-filter: blur(3px);
}

.login {
    align-items: center;
    background: #121212;
    width: 650px;
    height: fit-content;
    padding: 20px;
    border: 1px solid var(--color-line);
    border-radius: 10px;
}

.login h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.login h1 span {
    display: flex;
    margin-left: 20px;
    margin-right: 15px;
}

.login img {
    display: flex;
    width: 40px;
    margin-right: 10px;
}

.login h2 {
    margin-top: 20px;
    display: flex;
    font-size: 1rem;
}

.login h3 {
    margin-top: 3px;
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    color: #8f8f8f;
}

.ctn-input-login {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.ctn-input-login label {
    display: flex;
    width: 95%;
}

.ctn-input-login input {
    display: flex;
    width: 95%;
    height: 43px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid var(--color-line);
    border-radius: 50px;
    color: #fff;
    background: #49494922;
}

.ctn-input-login button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 35px;
    border: 1px solid var(--color-line);
    border-radius: 7px;
    background: #49494911;
    font-size: 1rem;
    font-weight: 600;
    color: #b1b1b1;
    cursor: pointer;
    transition: var(--transition);
}

.ctn-input-login button:hover {
    color: #eaeaea;
    background: #3f3f3f3f;
    box-shadow: 0px 0px 10px 0px #00000031;
}

.ctn-input-login p {
    display: flex;
    font-size: 0.7rem;
    font-weight: 500;
    color: #8a8a8a76;
}



/* page login */

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/img/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-page-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 45px;
    width: fit-content;
    opacity: 0.8;
}

.login-page-header img {
    display: flex;
    width: 110px;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-content img {
    display: flex;
    width: 110px;
}

.login-content h1{
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 500;
}

.login-content h2{
    margin-top: 5px;
    margin-bottom: 23px;
    font-size: 0.85rem;
    font-weight: 400;
    color: #969696;
}

.login-content button{
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    padding: 11px;
    border: none;
    border-radius: 10px;
    background: #2d2d2d;
    font-size: 0.85rem;
    color: #fff;
    cursor: pointer;
    gap: 5px;
    box-shadow: inset 0px 0px 7px 1px #383838;
    transition: all 0.2s ease;
}

.login-content button:hover{
    color: #000;
    background: #fff;
    box-shadow: 0px 0px 10px 2px #ffffff7d;
}

.login-content button i{
    font-size: 1rem;
}

.line-login-page{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #383838;
}

.line-login-page hr{
    margin: 30px 0;
    display: flex;
    width: 150px;
    border: 1px solid #383838;
}

.login-content input{
    display: flex;
    width: 340px;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #2d2d2d;
    color: #fff;
    box-shadow: inset 0px 0px 7px 1px #383838;
}

.login-content input:-webkit-autofill, input:autofill{
    box-shadow: 0px 0px 0px 100px #ffffff inset;
}
    

.login-content .active{
    margin-top: 15px;
    background: #ffffff;
    box-shadow: none;
    color: #000;
}

.login-page-footer{
    position: absolute;
    bottom: 10px;
}

.login-page-footer p{
    display: flex;
    align-items: center;
    font-size: 0.65rem;
    color: #7a7a7a;
    gap: 5px;
}

.login-page-footer a{
    color: #7a7a7a;
}