.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, #000000a4, #0000002f), url('https://static.vecteezy.com/system/resources/previews/043/509/997/non_2x/vr-hud-futuristic-interface-grid-line-and-dot-head-up-display-similar-pattern-digital-ui-screen-mesh-gui-digital-hi-tech-visor-backdrop-template-fui-sci-fi-dashboard-eps-display-black-and-white-vector.jpg');
    background-size: 800px;
    background-position: center;
}

.login-page-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 45px;
    width: fit-content;
}

.login-page-header img {
    display: flex;
    width: 110px;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-content img {
    display: flex;
    width: 110px;
}

.login-content h1 {
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 500;
}

.login-content h2 {
    margin-top: 5px;
    margin-bottom: 23px;
    font-size: 0.85rem;
    font-weight: 400;
    color: #969696;
}

.login-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-content button {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    padding: 12px;
    border: none;
    border-radius: 7px;
    background: #2d2d2d;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    box-shadow: inset 0px 0px 7px 1px #383838;
    transition: all 0.2s ease;
}

.login-content button:hover {
    color: #000;
    background: #fff;
    box-shadow: 0px 0px 15px #ffffff75;
}

.login-content button i {
    font-size: 1rem;
}

.line-login-page {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #383838;
}

.line-login-page hr {
    margin: 30px 0;
    display: flex;
    width: 150px;
    border: 1px solid #252525;
}

.login-input {
    margin-top: 12px;
    display: flex;
    align-items: center;
    width: 340px;
    gap: 10px;
    padding: 7px 10px;
    border: 1px solid #252525;
    border-radius: 7px;
    background: #141414;
    box-shadow: 0 0 15px #00000096;
    transition: all 0.2s ease;
}

.login-input:hover {
    border-color: #353535;
}

.login-input input {
    display: flex;
    width: 100%;
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--light-color);
}

.login-register-btn {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 300;
    color: #969696;
    transition: all 0.2s ease;
}

.login-register-btn span {
    text-decoration: underline;
}

.login-register-btn:hover {
    color: #c3c3c3;
}

.login-content .active {
    margin-top: 25px;
    background: #ffffff;
    box-shadow: none;
    color: #000;
}

.login-page-footer {
    position: absolute;
    bottom: 10px;
}

.login-page-footer p {
    display: flex;
    align-items: center;
    font-size: 0.65rem;
    color: #7a7a7a;
    gap: 5px;
}

.login-page-footer a {
    color: #7a7a7a;
}

@media (width < 720px) {

    .login-page-header {
        padding: 25px;
    }

    .login-content {
        margin-bottom: 30px;
    }

    .login-page-footer p {
        flex-wrap: wrap;
        font-size: 0.50rem;
    }

    .login-content button:hover {
        color: #fff !important;
        background: #2d2d2d !important;
        box-shadow: inset 0px 0px 7px 1px #383838 !important;
    }

    .login-content button:active {
        color: #000 !important;
        background: #fff !important;
        box-shadow: 0px 0px 10px 2px #ffffff7d !important;
    }
}