.login-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, #000000, #00000040, #00000000), url('../assets/img/wallpaper-login.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.login-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: fit-content;
    padding: 20px 50px;
}

.login-header img {
    display: flex;
    width: 100px;
}

.login-wrapper {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper img {
    display: flex;
    width: 100px;
}

.login-wrapper h1 {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 400;
}

.login-wrapper h2 {
    font-size: 0.8rem;
    font-weight: 300;
    color: #969696;
}

.login-wrapper form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-input {
    display: flex;
    align-items: center;
    padding: 5px 11px;
    width: 320px;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    background: #070707b0;
    backdrop-filter: blur(2px);
    gap: 10px;
}

.login-input input {
    display: flex;
    width: 100%;
    padding: 5px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 0.85rem;
    color: var(--light-color);
}

.login-input input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #120907 inset !important;
    -webkit-text-fill-color: var(--light-color) !important;
}

.login-input button {
    display: flex;
    padding: 0;
    border: none;
    background: transparent;
    color: var(--light-color);
    cursor: pointer;
}

.btn-confirm {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
    background: #fff;
    color: #000000;
    gap: 5px;
}

.btn-confirm:hover {
    background: #cacaca;
}

.btn-confirm-loading {
    padding: 5px;
}

.btn-confirm img {
    display: flex;
    width: fit-content;
    height: 25.35px;
}

.login-wrapper div {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 200;
    color: #969696;
}

.login-wrapper div hr {
    display: flex;
    width: 140px;
    border: none;
    border-bottom: 1px solid #313131;
}

.login-wrapper p {
    font-size: 0.75rem;
    font-weight: 300;
    color: #969696;
}

.login-wrapper p a {
    color: #969696;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: var(--transition);
}

.login-wrapper p a:hover {
    color: #b9b9b9;
}

.login-footer {
    margin: auto 0;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    font-size: 0.65rem;
    font-weight: 300;
    color: #878787;
    gap: 12px;
}

.login-footer a {
    color: #878787;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: var(--transition);
}

.login-footer p a:hover {
    color: #cacaca;
}

.login-error {
    margin: 0 auto;
    color: #ff5050 !important;
}

/* responsividade */
@media (width < 780px) {

    .login-main {
        padding: 20px;
        justify-content: flex-start;
        height: 100dvh;
    }

    .login-header {
        padding: 18px 20px;
        justify-content: center;
    }

    .login-header img {
        width: 70px;
    }

    .login-wrapper {
        width: 100%;
        padding-top: 80px;
    }

    .login-wrapper img {
        width: 70px;
    }

    .login-wrapper h1 {
        font-size: 1rem;
        text-align: center;
    }

    .login-wrapper h2 {
        font-size: 0.8rem;
        text-align: center;
        padding: 0 10px;
    }

    .login-wrapper form {
        width: 100%;
        align-items: center;
    }

    .login-input {
        width: 100%;
    }

    .btn-confirm {
        width: 100%;
    }

    .login-wrapper div {
        font-size: 0.75rem;
    }

    .login-wrapper div hr {
        width: 80px;
    }

    .login-wrapper p {
        text-align: center;
        padding: 0 10px;
    }

    .login-footer {
        text-align: center;
        padding: 0 15px;
    }

    .login-footer p {
        font-size: 0.65rem;
        text-align: center;
    }
}