.notification-btn a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    color: #c4c4c4;
    font-size: 1.1rem;
    border-radius: 50%;
    border: 1px solid var(--color-line);
    transition: all 0.2s ease;
}

.notification-btn a:hover {
    background: #1e1e1e;
}

.notification-loading{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.notification-loading img{
    display: flex;
    width: 30px;
    animation: rotation 2s linear infinite;
}

.notification-error{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.ctn-notification-page {
    margin-top: 4px;
    margin-right: 4px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100vw;
    height: calc(100vh - 35px);
    padding: 10px 10px 100px 10px;
}

.ctn-notification-page::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.ctn-notification-page::-webkit-scrollbar-thumb {
    background: #222222;
    border-radius: 50px;
    cursor: pointer;
}

.notification-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-notification-btn {
    position: absolute;
    top: 42px;
    right: 14px;
    text-decoration: none;
    display: flex;
    padding: 8px;
    color: #555555;
    border-radius: 7px;
    font-size: 1rem;
    transition: all 0.15s ease;
}

.close-notification-btn:hover {
    background: #1c1c1c;
}

.notification-header {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.notification-header h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #a4a4a4;
}

.notification-feed {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ctn-notification{
    display: flex;
    width: 820px;
    padding: 0px 0 35px 0;
    gap: 100px;
    border-bottom: 1px solid #262626;
}

.notification-date {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.notification-date h1{
    font-size: 0.9rem;
    font-weight: 600;
    color: #c5c5c5;
}

.notification-date h2{
    font-size: 0.75rem;
    font-weight: 200;
    color: #898989;
}

.notification{
    display: flex;
    flex-direction: column;
    width: 620px;
}

.notification img{
    display: flex;
    border-radius: 7px;
    border: 1px solid #2b2b2b;
    cursor: pointer;
}

.notification video{
    display: flex;
    border-radius: 7px;
    border: 1px solid #2b2b2b;
    cursor: pointer;
}

.notification video::-webkit-media-controls {
    opacity: 0;
    transition: all 0.15s ease;
    transform: translateY(1px);
}

.notification video:hover::-webkit-media-controls {
    opacity: 1;
}

.notification-content{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.notification-content h1{
    font-size: 1.2rem;
    font-weight: 600;
    color: #d7d7d7;
}

.notification-content p{
    margin-top: 15px;
    font-size: 0.85rem;
    font-weight: 200;
    line-height: 1.4;
    color: #717171;
}