.settings-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding: 65px 75px;
    gap: 25px;
}

.settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-header h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 1.4rem;
    font-weight: 400;
}

.settings-header button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray-color-2);
    border: none;
    background: transparent;
    cursor: pointer;
    transition: var(--transition);
}

.settings-header button:hover {
    color: var(--gray-color-1);
}


.settings-grid {
    display: flex;
    width: 100%;
    height: 100%;
}

.settings-aside {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 70dvh;
    padding-right: 10px;
    border-right: 1px solid #181818;
    gap: 2px;
}

.settings-aside a {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color-2);
    gap: 10px;
    transition: var(--transition);
}

.settings-aside a:hover {
    background: #0e0e0e;
    color: var(--gray-color-1);
}

.settings-aside a.active {
    background: var(--hover-2);
    color: var(--gray-color-1);
}

.settings-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


/* GENERAL */
.settings-general-main {
    padding: 0 35px 30px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.settings-general-main::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.settings-general-main::-webkit-scrollbar-thumb {
    background: #0f0f0f;
    border-radius: 20px;
    cursor: pointer;
}

.settings-general-main::-webkit-scrollbar-thumb:hover {
    background: #181818;
}

.settings-general-main h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 40px 0 25px;
    font-size: 0.85rem;
    font-weight: 600;
}

.settings-general-main h1.first {
    margin-top: 5px;
}

.settings-general-main h2 {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray-color-1);
}

.settings-general-main h3 {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray-color-2);
}

.settings-general-main h4 {
    font-size: 0.85rem;
    font-weight: 400;
    color: #b3b3b3;
}

.settings-general-main a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #4573b1;
}

.settings-general-main a:hover {
    color: #78a1d7;
}

.settings-general-main p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color-3);
}


.settings-general-main hr {
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid var(--hover-2);
}

.settings-general-main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.settings-general-main section.margin-top {
    margin-top: 25px;
}

.settings-general-main section.margin-top-2 {
    margin-top: 15px;
}

.settings-general-main section .input {
    display: flex;
    width: 250px;
    height: 30px;
    padding: 0 10px;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--gray-color-1);
    background: #181818;
    border: none;
    border-radius: 5px;
}

.settings-general-main section .input.date {
    width: 170px;
}


.settings-general-main section .btn button {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    background: transparent;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    font-size: 0.85rem;
    color: var(--gray-color-1);
    cursor: pointer;
    gap: 7px;
    transition: var(--transition);
}

.settings-general-main section .btn button:hover {
    background: var(--light-color);
    color: var(--black);
}

.settings-general-main section .btn button.del {
    border-color: #ff4b4b;
    color: #ff4b4b;
}

.settings-general-main section .btn button.del:hover {
    background: #150000;
}

.settings-general-main section .img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    min-height: 120px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
}

.settings-general-main section .img img {
    display: flex;
    height: 100%;
    width: fit-content;
}

.settings-general-main section .img:hover button {
    opacity: 1;
}

.settings-general-main section .img button {
    position: absolute;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    border: none;
    border-radius: 100%;
    background: #00000033;
    backdrop-filter: blur(1px);
    color: var(--gray-color-1);
    cursor: pointer;
    transition: var(--transition);
}


.settings-general-main section select {
    background: #000;
    color: var(--gray-color-1);
    width: 170px;
    height: 30px;
    padding: 0 5px;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
}


.settings-general-main .highlighted {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    background: #101010;
    line-height: 1.4;
}

.settings-general-main .highlighted hr {
    border-color: #1a1a1a;
}

.settings-general-main .highlighted .active {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color-1);
    text-decoration: none;
    gap: 5px;
}




.settings-btns-select {
    display: flex;
    background: var(--hover-2);
    border-radius: 6px;
}

.settings-btns-select button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 6px;
    background: transparent;
    color: var(--gray-color-3);
    cursor: pointer;
}

.settings-btns-select button:hover {
    color: var(--gray-color-1);
}

.settings-btns-select button.active {
    background: #232323;
    border-color: #2b2b2b;
    color: var(--gray-color-1);
}


