.ctn-settings{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000038;
    backdrop-filter: blur(1px);
    z-index: 2;
}

.settings{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    background: #181818;
    border-radius: var(--border);
    border: 1px solid var(--color-line);
    overflow: hidden;
}

.settings-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 7px;
    border-bottom: 1px solid var(--color-line);
    background: #141414;
}

.settings-header h1{
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-header a{
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    color: #cd3e3e;
}

.ctn-content-settings{
    display: flex;
    height: 100%;
}

.settings-aside{
    width: 220px;
    height: 100%;
    padding: 10px 0;
    border-right: 1px solid var(--color-line);
    background: #151515;
}

.settings-aside nav ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 9px 14px;
    transition: all 0.1s linear;
    font-size: 0.9rem;
    color: #e1e1e1;
    gap: 7px;
}

.settings-aside nav ul li a:hover{
    background: #282828;
    color: #fff;
}

.settings-aside nav ul .active{
    background: #282828;
    color: #fff;
}

.content-settings{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0px 15px;
    width: 100%;
    height: 100%;
}

.content-settings::-webkit-scrollbar{
    display: flex;
    width: 5px;
}

.content-settings::-webkit-scrollbar-thumb{
    background: #252525;
    border-radius: 50px;
}

.settings-area-content{
    display: flex;
    flex-direction: column;
}

.settings-area-header{
    padding: 11px 5px;
    border-bottom: 1px solid var(--color-line);
}

.settings-area-header h1{
    font-size: 1.2rem;
    font-weight: 500;
}