.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 19px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #757575;
    border-radius: 34px;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2.5px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.switch input:checked+.slider {
    background-color: #3b72e9;
}

.switch input:checked+.slider:before {
    transform: translateX(15px);
}


.ctn-settings {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000038;
    backdrop-filter: blur(1px);
    z-index: 2;
}

.settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    background: #181818;
    border-radius: var(--border);
    border: 1px solid var(--color-line);
    overflow: hidden;
}

.settings-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 7px;
    border-bottom: 1px solid var(--color-line);
    background: #141414;
}

.settings-header h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-header a {
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    color: #cd3e3e;
}

.ctn-content-settings {
    display: flex;
    height: 100%;
}

.settings-aside {
    width: 220px;
    height: 100%;
    padding: 10px 0;
    border-right: 1px solid var(--color-line);
    background: #151515;
}

.settings-aside nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 9px 14px;
    transition: all 0.1s linear;
    font-size: 0.9rem;
    color: #e1e1e1;
    gap: 7px;
}

.settings-aside nav ul li a:hover {
    background: #282828;
    color: #fff;
}

.settings-aside nav ul .active {
    background: #282828;
    color: #fff;
}

.content-settings {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0px 15px;
    width: 100%;
    height: 475px;
}

.content-settings::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.content-settings::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 50px;
}

.settings-area-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.settings-area-content h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.settings-area-header {
    padding: 15px 5px;
    border-bottom: 1px solid var(--color-line);
}

.settings-area-content hr {
    margin: 15px 0;
    border: 0.2px solid #1e1e1e;
}

.ctn-settings-change {
    padding: 25px 5px 0px 5px;
}

.ctn-settings-change p {
    margin-top: 7px;
    font-size: 0.8rem;
    font-weight: 200;
    color: #555555;
}

.settings-change {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.settings-change h2 {
    font-size: 0.9rem;
    font-weight: 400;
}

.settings-change button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    border: none;
    border-radius: 7px;
    gap: 4px;
    cursor: pointer;
    background: transparent;
    color: #fff;
}

.settings-change button div {
    margin-right: 7px;
    display: flex;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #868686;
}

.settings-change button:hover {
    background: #282828;
}

.ctn-settings-input {
    display: flex;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 15px 5px;
    gap: 20px;
}

.ctn-settings-input button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 7px 10px;
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.ctn-settings-input button:hover{
    background: #2f2f2f;
}

.settings-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
}

.settings-input h2 {
    font-size: 0.9rem;
    font-weight: 400;
}

.settings-input input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #424242;
    border-radius: 7px;
    background: #282828;
    color: #fff;
}

.settings-new-area{
    margin-top: 25px;
}

.settings-area-content .settings-divisor-area{
    margin-bottom: -10px;
}

.ctn-settings-switch {
    padding: 0 5px;
}

.ctn-settings-switch p {
    margin-top: 7px;
    font-size: 0.8rem;
    font-weight: 200;
    color: #555555;
}

.settings-switch {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.settings-switch h2 {
    font-size: 0.9rem;
    font-weight: 400;
}

.ctn-settings-button{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.settings-button{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.settings-button h2{
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    border: 1px solid #383838;
    border-radius: 50px;
    background: #202020;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.settings-button button:hover{
    background: #353535;
    border-color: #505050;
}

.settings-button .active{
    border-color: #d63c3c;
    color: #d63c3c;
}

.settings-button .active:hover{
    border-color: #d63c3c;
}

.ctn-settings-button p{
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 200;
    color: #555555;
}

.ctn-settings-change-img{
    display: flex;
    padding: 25px 5px 10px 5px;
    gap: 30px;
}

.ctn-settings-change-img button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background:  #2f2f2f;
    cursor: pointer;
    transition: all 0.2s ease;
}

.ctn-settings-change-img button:hover{
    background: #424242;
}

.ctn-settings-change-img p{
    text-align: justify;
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #969696;
}

.settings-change-img img{
    display: flex;
    width: 150px;
    border-radius: 50%;
}

.support h1{
    margin-top: 15px;
    font-size: 0.9rem;
}

.support h2{
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.support h3{
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 500;
}

.support p{
    margin-top: 3px;
    font-size: 0.85rem;
    font-weight: 400;
    color: #a6a6a6;
}

.support ul{
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    list-style: square;
    gap: 7px;
}

.support a{
    display: flex;
    margin-top: 7px;
    color: #3b72e9;
}