.ctn-settings{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000028;
    backdrop-filter: blur(1px);
    z-index: 2;
}

.settings{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 500px;
    background: #171717;
    border-radius: var(--border);
    border: 1px solid var(--color-line);
}

.header-settings{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 7px;
    border-bottom: 1px solid var(--color-line);
}

.header-settings h1{
    font-size: 0.9rem;
    font-weight: 500;
}

.header-settings a{
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    color: #cd3e3e;
}

.ctn-content-settings{
    display: flex;
    height: 100%;
}

.aside-settings{
    width: 250px;
    height: 100%;
    padding: 10px 0;
    border-right: 1px solid var(--color-line);
}

.aside-settings nav ul li a{
    text-decoration: none;
    display: flex;
    width: 100%;
    padding: 9px 14px;
    transition: all 0.2s linear;
    font-size: 0.9rem;
    color: #e1e1e1;
    gap: 7px;
}

.aside-settings nav ul li a:hover{
    background: #282828;
    color: #fff;
}

.aside-settings nav ul .active{
    background: #282828;
    color: #fff;
}