.status-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #000;
}

.status-page header{
    display: flex;
    justify-content: center;
    height: fit-content;
    box-shadow: none;
    padding: 20px;
    gap: 700px;
}

.status-page header img{
    display: flex;
    width: 32px;
}

.status-page header a{
    display: flex;
    padding: 7px 14px;
    border-radius: 7px;
    border: 1px solid #252525;
}

.status-page header a:hover{
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px 0 #ffffff4c;
}

.status-all-applications{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px;
    width: 840px;
    border-radius: 7px;
    background: #006efe;
}

.status-all-applications h1{
    font-size: 1rem;
    font-weight: 500;
}

.commits-dates{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 840px;
    gap: 40px;
}

.commits-day{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}

.commits-day h1{
    font-size: 1.3rem;
    font-weight: 500;
}

.commits-day hr{
    border: 1px solid #1e1e1e;
}

.latest-commits{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.commit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.commit p{
    font-size: 1rem;
    font-weight: 550;
}

.commit h2{
    margin-top: 2px;
    font-size: 0.85rem;
    font-weight: 300;
    color: #969696;
}

.commit i{
    font-size: 1rem;
    color: #58da47;
}

.commit i .red{
    color: #ed3434;
}