* {
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
}

:root {
    --primary-color: #1e1e1e;
    --secundary-color: #f5f5f5;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(-45deg, #090909, #181818, #090909);
    color: var(--secundary-color);
}

.logo {
    display: flex;
    width: 23px;
}

.content {
    display: flex;
}

@keyframes show-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@media (width < 720px) {
    aside {
        position: relative;
        margin-left: -292px;
        z-index: 30;
        background: #101010;
    }

    .ctn-input {
        width: 100%;
        margin-top: 60px;
    }

    .input {
        width: 90%;
        max-width: 100%;
    }

    .input button {
        width: 55px;
        height: 40px;
    }

    .send-files button{
        width: 100%;
    }

    .presentation {
        width: 90%;
    }

    .presentation h1 {
        text-align: center;
    }

    .presentation h2 {
        text-align: center;
    }

    .links-file {
        display: none;
    }

    .hero-chat {
        position: absolute;
        margin: 0;
    }

    .hero-aside button {
        background: #141414;
        z-index: 10;
    }

    .chat-box {
        width: 100%;
        max-width: 100%;
        padding: 10px 10px 160px 10px;
        gap: 25px;
    }

}