*{
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
    list-style: none;
}

:root {
    --primary-color: #1e1e1e;
    --secundary-color: #f5f5f5;
    --color-line: #282828;
    --transition: all 0.4s ease;
    --border: 7px; 
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(-45deg, #101010, #181818, #101010);
    color: var(--secundary-color);
}

.logo {
    display: flex;
    width: 23px;
}

.content {
    display: flex;
}

@keyframes show-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}