* {
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
}

:root {
    --primary-color: #1e1e1e;
    --secundary-color: #f5f5f5;
    --color-line: #282828;
    --transition: all 0.4s ease;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(-45deg, #101010, #181818, #101010);
    color: var(--secundary-color);
}

.logo {
    display: flex;
    width: 23px;
}

.content {
    display: flex;
}

@keyframes show-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@media (width < 720px) {
    header {
        position: absolute;
        justify-content: center;
        box-shadow: none;
        z-index: -1;
    }

    header h1 {
        display: none;
    }

    header a {
        display: none;
    }

    header img {
        display: flex;
    }

    aside {
        width: 290px;
        position: relative;
        z-index: 1;
        background: #101010;
    }

    .change-model{
        display: none;
    }

    .hero-aside .btn-aside {
        border: none;
        border-radius: 0px;
        transition: none;
        font-size: 1.1rem;
        background: transparent;
    }

    .hero-aside .btn-aside:hover {
        background: transparent;
        box-shadow: none;
    }

    .ctn-input {
        width: 100%;
        margin-top: 60px;
    }

    .input {
        width: 90%;
        max-width: 100%;
    }

    .input button {
        width: 55px;
        height: 40px;
    }

    .input button:hover {
        background: none;
        box-shadow: none;
    }

    .input button:active {
        background: #9595952d;
        box-shadow: 0px 0px 10px 1px var(--color-line);
    }

    .send-files button {
        width: 100%;
    }

    .presentation {
        width: 90%;
        margin-top: -50px;
    }

    .presentation h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .presentation h2 {
        display: none;
    }

    .links-file {
        display: none;
    }

    .hero-chat {
        position: absolute;
        margin: 0;
    }

    .hero-aside button {
        background: #141414;
        z-index: 10;
    }

    .send-files {
        bottom: 55px;
        left: 0px;
        padding: 5px;
    }

    .ctn-file-preview {
        position: absolute;
        margin-top: -270px;
        margin-left: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: scroll;
    }

    .file-preview {
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        height: 100%;
        padding: 10px;
        gap: 10px;
    }

    .file-item button:hover {
        box-shadow: none;
        background: transparent;
    }

    .file-item button:active {
        box-shadow: none;
        background: transparent;
    }

    .ctn-chat-box {
        margin-bottom: 55px;
        padding: 10px 16px 100px 7px;
        gap: 25px;
    }

    .chat-box {
        width: 100%;
    }

    .chat-box div.assistant {
        padding: 0px 15px;
    }

    .ctn-profile {
        width: 270px;
    }

    .ctn-profile:hover {
        box-shadow: none;
    }

    .ctn-profile i:hover {
        background: none;
    }

    .ctn-profile i:active {
        background: #353535;
    }

    .conf-profile {
        left: 10px;
        bottom: 85px;
        border-radius: 10px;
        width: 270px;
    }

    .conf-profile button {
        align-items: center;
        border-radius: 5px;
        width: 100%;
        background: transparent;
    }

    .options-card button {
        background: transparent;
        opacity: 1;
    }

    .ctn-library{
        display: none;
    }
}