.ctn-upd{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background: #00000044;
    z-index: 30;
}

.upd{
    display: flex;
    width: 600px;
    height: 500px;
    background: #252525;
    border: 1px solid #353535;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00000033;
}